.user-list{
    margin: auto;
    list-style-type: none;
    padding-left: 0px;
    height: 75px;
    line-height: 75px;
}

.user-list img{
    padding-left:10px;
    vertical-align:middle;
}

.user-name {
    font-weight: 700; 
}


.user-avatar {
    width: 40px;
}
